#about-me {
  display: flex;
  align-items: center;
}

#about-accent {
  position: relative;
  padding: 2.5vh 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    172.5deg,
    var(--navy-accent) 65.5%,
    var(--beige-shadow) 66%,
    var(--beige) 67%
  );
}

.about-me-img-cont {
  position: relative;
  display: flex;
  justify-content: center;
}

.about-me-img {
  width: 350px;
}

.img-name {
  position: absolute;
  bottom: 0;
  padding: 5px 0;
  font-size: max(1vw, 3rem);
  font-weight: 300;
  color: var(--font-dark);
  text-shadow: 2px 2px var(--font-silver);
}

.about-me-card {
  background-color: var(--slate);
  color: var(--font-silver);
  min-height: 250px;
  padding: 20px;
  position: relative;
  box-shadow: 0 2px 6px var(--beige-shadow);
}

.greetings {
  width: fit-content;
  display: flex;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}
.greetings.fade {
  opacity: 0;
}

.about-me-text {
  text-align: justify;
  line-height: 1.25rem;
}

#hover-word {
  text-decoration: underline;
}

.about-btns {
  margin: 10px;
  bottom: 0;
  right: 0;
  position: absolute;
}

@media (max-width: 1000px) {
  #about-me {
    display: block;
  }

  .about-me-img-cont {
    float: left;
    margin-right: -50px;
    width: 450px;
    z-index: 2;
  }

  .about-me-img {
    margin-bottom: 5px;
    margin-right: -200px;
  }

  .img-name {
    height: fit-content;
    text-wrap: nowrap;
    position: relative;
    left: 7rem;
    top: -0.5rem;
    font-weight: 300;
    color: var(--font-silver);
    text-shadow: 2px 3px var(--font-dark);
  }

  .about-me-card {
    padding: 40px;
    margin: 60px 20px 30px 60px;
  }
}

@media (max-width: 800px) {
  #about-me {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    max-width: 400px;
  }

  .about-me-img-cont {
    width: auto;
    margin: 0;
    left: 0;
  }

  .about-me-img {
    margin-bottom: -10px;
    margin-right: unset;
  }

  .img-name {
    left: unset;
    top: unset;
    position: absolute;
    bottom: 0;
    color: var(--font-dark);
    text-shadow: 2px 2px var(--font-silver);
  }

  .about-me-card {
    box-shadow: none;
    margin: 0;
    padding: 10px 20px 40px 20px;
  }

  .about-me-img-cont picture {
    height: 340px;
  }
}
