#top-header {
  background-image: url("sunset.png");
  background-size: cover;
  background-position: 50% 30%;
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  color: var(--font-dark);
  text-align: center;
  margin: 0;
  padding: 10px 0;
  transition-duration: 0.2s;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#top-header a {
  color: inherit;
}

nav {
  background-color: var(--sharp-orange);
  border-bottom: 2px solid var(--accent-gray);
  color: var(--font-silver);
  font-size: 1.5rem;
  width: 100%;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 2;
}

nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list {
  margin: 0 30px;
  transition-duration: 0.2s;
}
.nav-list:hover {
  transform: scale(1.1);
}

.nav-link {
  color: var(--font-silver);
  padding: 3px 10px;
  border-radius: 5px;
  color: inherit;
  transition-duration: 0.2s;
}
.nav-link:hover {
  background-color: var(--navy-accent);
  box-shadow: 1px 1px 3px var(--navy-shadow);
}
.nav-link:active {
  background-color: var(--navy-shadow);
}

@media (max-width: 1000px) {
  .nav-list {
    margin: 0 15px;
  }
}

@media (max-width: 600px) {
  #top-header {
    font-size: 2.5rem;
  }

  nav {
    font-size: 1.3rem;
    /* padding: 10px 0; */
  }

  .nav-list {
    margin: 0 10px;
  }
}
