#home-cont {
  margin-bottom: 40px;
  place-self: center;
  max-width: 1200px;
}

#home-cont h2 {
  font-weight: 300;
}

.skill-icon,
.skill-info,
.resume-cont {
  box-shadow: 2px 2px 2px var(--slate);
}

.skills-cont {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.skills-title {
  color: var(--font-dark);
  font-size: 2rem;
  font-weight: 500;
  margin: 0 0 5px 0;
}

.skills-row {
  display: flex;
}

.skill-box {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  float: left;
  top: 8px;
  position: relative;
  padding-bottom: 20px;
}

.skill-icon {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  object-fit: contain;
  cursor: pointer;
  width: 75px;
  height: 75px;
  margin: 0 10px;
  transition-duration: 0.1s;
}
.skill-icon:hover {
  margin-top: 5px;
}

.hover-connection {
  background-color: white;
  position: absolute;
  bottom: 3px;
  left: 50%;
  width: 30px;
  min-height: 24px;
  box-shadow: 4px 1px 3px -2px var(--beige-shadow);
  transform: translateX(-50%);
}

.skill-info {
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 1.15rem;
  z-index: 0;
  opacity: 0%;
  width: fit-content;
  transition-duration: 0.1s;
}

.skill-name {
  font-weight: 600;
  font-style: italic;
  color: var(--sharp-orange);
}

.exp-cont {
  padding: 20px;
  margin: 50px 0;
  place-self: start;
  place-items: start;
  width: fit-content;
  /* border-radius: 8px; */
  border-left: 8px solid var(--sharp-orange);
}
.right {
  place-self: end;
  place-items: end;
  border-left: none;
  border-right: 8px solid var(--sharp-orange);
}

.exp-card {
  color: inherit;
  margin: 40px 20px;
  width: 750px;
  display: flex;
  flex-direction: column;
}

.exp-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exp-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.exp-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.exp-img {
  object-fit: contain;
  background-color: white;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
}

.exp-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.exp-subtitle {
  font-style: italic;
  vertical-align: top;
  color: var(--sharp-orange);
}

.exp-date {
  text-align: right;
}

.exp-location {
  color: var(--slate);
  text-align: right;
}

.exp-note {
  font-style: italic;
  color: var(--slate);
  margin: 5px 0;
}

.resume-cont {
  background-color: var(--accent-gray);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 1.5rem;
  margin-bottom: 60px;
}

#resume-btn {
  background-color: var(--sharp-orange);
  border: none;
  border-radius: 5px;
  padding: 15px;
  box-shadow: inherit;
  font-family: inherit;
  font-size: 1.5rem;
  color: var(--font-silver);
  transition: background-color 0.1s ease-in-out;
  cursor: pointer;
}
#resume-btn:hover {
  background-color: #e5564b;
}
#resume-btn:active {
  background-color: #be473e;
}

@media (max-width: 1250px) {
  #home-cont {
    margin: 0 40px;
  }
}

@media (max-width: 1000px) {
  .exp-cont {
    place-self: center;
    width: fit-content;
  }
  .right {
    place-self: center;
    place-items: unset;
    border-left: 8px solid var(--sharp-orange);
    border-right: none;
  }

  .exp-card {
    width: 600px;
    margin: 30px 20px;
  }

  .resume-cont {
    font-size: 1.25rem;
    flex-direction: column;
    align-items: center;
  }

  #resume-btn {
    margin-top: 20px;
  }
}

@media (max-width: 800px) {
  #home-cont {
    margin: 0 20px;
  }

  #home-cont h2 {
    font-size: 1.8rem;
  }

  .skills-cont {
    padding: 10px;
  }

  .skill-icon {
    width: 50px;
    height: 50px;
  }

  .skill-info {
    font-size: 1rem;
  }

  .hover-connection {
    width: 20px;
  }

  .exp-card {
    width: 500px;
    margin: 30px 20px;
  }

  .exp-title {
    font-size: 1.25rem;
  }

  .exp-info,
  .exp-note {
    font-size: 1rem;
  }

  .exp-note {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  #home-cont {
    margin: 10px;
  }

  .skills-cont {
    padding: 3px;
  }

  .skill-icon {
    margin: 0 5px;
    width: 30px;
    height: 40px;
  }

  .hover-connection {
    width: 15px;
  }

  .exp-cont {
    padding: 0 5px;
    width: 100%;
    border: none;
  }

  .exp-card {
    margin: 30px 0px;
    width: 100%;
  }

  .exp-top {
    align-items: start;
  }

  .exp-img {
    object-fit: contain;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }

  .exp-title {
    font-size: 1.1rem;
  }
}
