.home-cont {
  margin: 40px;
}

.home-cont h2 {
  background-color: var(--sharp-orange);
  padding: 0 10px;
  width: fit-content;
}

.intro-card {
  background-color: var(--slate);
  box-shadow: 0 2px 6px var(--beige-shadow);
  color: var(--font-silver);
  padding: 10px 40px;
  text-align: justify;
}

.skills-cont {
  background-color: var(--accent-gray);
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 15px 0;
  box-shadow: 3px 3px 3px var(--beige-shadow);
}

.skills-title {
  color: var(--font-dark);
  font-size: 2rem;
  font-weight: 500;
  margin: 0 0 5px 0;
}

.skills-row {
  display: flex;
}

.skill-box {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  float: left;
  top: 8px;
  position: relative;
  cursor: pointer;
  padding-bottom: 20px;
}

.skill-icon {
  background-color: white;
  border: 3px solid var(--font-dark);
  border-radius: 5px;
  box-shadow: 3px 3px 3px var(--slate);
  padding: 10px;
  object-fit: contain;
  width: 75px;
  height: 75px;
  margin: 0 10px;
  transition-duration: 0.2s;
}
.skill-icon:hover {
  margin-top: 5px;
}

.hover-connection {
  background-color: white;
  border-left: 3px solid var(--font-dark);
  border-right: 3px solid var(--font-dark);
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 30px;
  min-height: 27px;
  transform: translateX(-50%);
}

.skill-info {
  margin: 5px 10px;
  border: 3px solid var(--font-dark);
  border-radius: 5px;
  box-shadow: 3px 3px 3px var(--slate);
  font-size: 1.1rem;
  display: none;
}

.skill-name {
  font-weight: 600;
  font-style: italic;
  color: var(--sharp-orange);
}

.exp-cont {
  background-color: var(--slate);
  box-shadow: 3px 3px 3px var(--beige-shadow);
  padding: 20px;
  color: var(--font-silver);
  margin: 20px 0;
  place-self: start;
  place-items: start;
  width: fit-content;
}
.right {
  place-self: end;
  place-items: end;
}

.exp-card {
  background-color: var(--navy-accent);
  color: inherit;
  margin: 20px 0;
  padding: 5px;
  width: 750px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.75fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.exp-img {
  grid-area: 1 / 1 / 3 / 2;
  object-fit: contain;
  background-color: white;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  margin: 10px;
}

.exp-title {
  font-size: 1.5rem;
  font-weight: 500;
  grid-area: 1 / 2 / 2 / 3;
  align-self: flex-end;
  margin: 0;
  padding: 0;
}

.exp-subtitle {
  grid-area: 2 / 2 / 2 / 3;
  font-style: italic;
  vertical-align: top;
  color: var(--accent-gray);
}

.exp-date {
  grid-area: 1 / 3 / 2 / 4;
  text-align: right;
  align-self: flex-end;
  margin-right: 10px;
}

.exp-location {
  grid-area: 2 / 3 / 3 / 4;
  color: var(--accent-gray);
  text-align: right;
  margin-right: 10px;
}

.exp-note {
  grid-area: 3 / 1 / 4 / 4;
  font-style: italic;
  color: var(--accent-gray);
  margin: 0 10px;
}

@media (max-width: 900px) {
  .skill-icon {
    margin: 0 8px;
    width: 50px;
    height: 50px;
  }

  .hover-connection {
    width: 20px;
  }

  .exp-cont {
    place-self: center;
    width: fit-content;
  }
  .right {
    place-self: center;
    place-items: unset;
  }

  .exp-card {
    width: 600px;
  }
}

@media (max-width: 700px) {
  .home-cont {
    margin: 20px;
  }

  .skills-cont {
    padding: 10px;
  }

  .skill-icon {
    margin: 0 5px;
    width: 40px;
    height: 40px;
    box-shadow: 2px 2px 2px var(--slate);
  }

  .skill-info {
    font-size: 1rem;
  }

  .hover-connection {
    width: 15px;
  }

  .exp-card {
    width: 475px;
  }
}

@media (max-width: 550px) {
  .home-cont {
    margin: 3px;
  }

  .skills-cont {
    padding: 3px;
  }

  .skill-icon {
    margin: 0 3px;
    width: 30px;
    height: 40px;
    border-left: 2px solid var(--font-dark);
    border-right: 2px solid var(--font-dark);
    box-shadow: 2px 2px var(--slate);
  }

  .hover-connection {
    width: 15px;
  }

  .exp-cont {
    padding: 5px;
  }

  .exp-card {
    width: auto;
  }

  .exp-title {
    font-size: 1.1rem;
  }
}
