.intro-wrapper {
  display: flex;
  flex-direction: column;
  /* Height = Screen height - (nav + header) */
  height: calc(100vh - ((1.5rem + 20px) + (100px)));
}

#intro-accent {
  background-color: var(--slate);
  display: flex;
  flex-grow: 1;
  justify-content: center;
  position: relative;
  box-shadow: 0px 3px 6px var(--beige-shadow);
}

#intro {
  display: flex;
  align-items: center;
  max-width: 1100px;
}

.intro-img-cont {
  position: relative;
  display: flex;
  justify-content: center;
}

.intro-img {
  width: 450px;
  border-right: 8px solid var(--sharp-orange);
  /* border-radius: 8px; */
}

.intro-card {
  color: var(--font-silver);
  padding: 10px 20px;
  margin: 20px 0;
  position: relative;
  /* text-align: justify; */
}

.greetings {
  font-size: 3rem;
  min-width: 150px;
  cursor: pointer;
  width: fit-content;
  display: flex;
  transition: opacity 0.5s ease-in-out;
}
.greetings.fade {
  opacity: 0;
}
.greetings:hover {
  color: white;
}

.intro-text {
  transition: opacity 0.5s ease-in-out;
}
.intro-text.textFade {
  opacity: 0;
}

.intro-btns {
  margin: 10px;
  top: 30px;
  right: 0;
  position: absolute;
}

.intro-chevron {
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  color: var(--font-silver);
  font-size: 2rem;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@media (max-width: 1200px) {
  #intro {
    max-width: 1050px;
  }
}

@media (max-width: 1000px) {
  .intro-wrapper {
    height: auto;
  }

  #intro {
    display: flex;
    flex-direction: column;
    max-width: 600px;
  }

  .intro-img {
    width: 400px;
    margin-top: 10px;
    border-right: none;
    border-bottom: 8px solid var(--sharp-orange);
  }

  .intro-card {
    margin: 0 0 50px 0;
    padding: 0 20px;
  }

  .greetings {
    place-self: center;
    place-content: center;
  }

  .intro-btns {
    position: unset;
    place-self: end;
  }
}

@media (max-width: 800px) {
  #intro {
    flex-wrap: wrap;
    margin: 0;
    max-width: 600px;
  }
}

@media (max-width: 600px) {
  .intro-img {
    width: 350px;
  }
}
