.intro-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#intro-accent {
  background-color: var(--slate);
  display: flex;
  flex-grow: 1;
  justify-content: center;
  position: relative;
}

#intro {
  display: flex;
  align-items: center;
  max-width: 1100px;
}

.intro-img-cont {
  position: relative;
  display: flex;
  justify-content: center;
}

.intro-img {
  width: 450px;
}

.intro-img-name {
  position: absolute;
  bottom: 0;
  padding: 5px 0;
  font-size: max(1vw, 3rem);
  font-weight: 300;
  color: var(--font-dark);
  text-shadow: 2px 2px var(--font-silver);
}

.intro-card {
  /* background-color: var(--slate); */
  color: var(--font-silver);
  min-height: 250px;
  padding: 10px 20px;
  position: relative;
  /* box-shadow: 0 2px 4px var(--beige-shadow); */
  /* text-align: justify; */
}

.greetings {
  font-size: 3rem;
  min-width: 150px;
  cursor: pointer;
  width: fit-content;
  display: flex;
  transition: opacity 0.5s ease-in-out;
}
.greetings.fade {
  opacity: 0;
}
.greetings:hover {
  color: white;
}

.intro-text {
  transition: opacity 0.5s ease-in-out;
}
.intro-text.textFade {
  opacity: 0;
}

.intro-btns {
  margin: 10px;
  top: 30px;
  right: 0;
  position: absolute;
}

.intro-chevron {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  color: var(--font-silver);
  font-size: 2rem;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@media (max-width: 1000px) {
  #intro {
    display: block;
  }

  /* .intro-img-cont {
    float: left;
    margin-right: -50px;
    width: 450px;
    z-index: 2;
  } */

  /* .intro-img {
    margin-bottom: 5px;
    margin-right: -200px;
  } */

  /* .intro-img-name {
    height: fit-content;
    text-wrap: nowrap;
    position: relative;
    left: 7rem;
    top: -0.5rem;
    font-weight: 300;
    color: var(--font-silver);
    text-shadow: 2px 3px var(--font-dark);
  } */

  .intro-card {
    padding: 40px;
    margin: 60px 20px 30px 60px;
  }
}

@media (max-width: 800px) {
  #intro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    max-width: 600px;
  }

  .intro-img-cont {
    width: auto;
    margin: 0;
    left: 0;
  }

  .intro-img {
    margin-bottom: -10px;
    margin-right: unset;
  }

  .intro-img-name {
    left: unset;
    top: unset;
    position: absolute;
    bottom: 0;
    color: var(--font-dark);
    text-shadow: 2px 2px var(--font-silver);
  }

  .intro-card {
    box-shadow: none;
    margin: 0;
    padding: 10px 20px 40px 20px;
  }

  .intro-img-cont picture {
    height: 340px;
  }
}
