.portfolio-accent {
  background-color: var(--slate);
  background-image: var(--background-slate);
  background-attachment: fixed;
  background-size: 125%;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  box-shadow: 0px 3px 6px var(--beige-shadow);
}

#portfolio {
  min-height: 100%;
  max-width: 1400px;
  width: 100%;
  place-self: center;
  margin-bottom: 40px;
}

.search-bar {
  background-image: url("../assets/icons/search.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 5px;
  border-radius: 1.5rem;
  border: 2px solid var(--slate);
  font-family: inherit;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 5px 0;
  padding: 0 50px;
  width: 100%;
  max-width: 500px;
  transition-duration: 0.1s;
}
.search-bar:focus {
  outline: 2px solid var(--sharp-orange);
}

.projects-cont {
  display: grid;
  grid-template-columns: repeat(auto-fill, 450px);
  justify-content: center;
  justify-items: center;
  gap: 50px 10px;
  width: 100%;
  margin: 30px 0;
}

.project,
.project-img {
  background-color: var(--accent-gray);
  width: 400px;
  object-fit: contain;
}

.project {
  background-color: var(--slate);
  border-bottom: 5px solid var(--sharp-orange);
  border-radius: 5px;
  color: var(--font-silver);
  box-shadow: 5px 5px 5px var(--beige-shadow);
  min-height: 525px;
  transition-duration: 0.2s;
  position: relative;
}

.project-img {
  padding: 0;
  height: 350px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  transition-duration: 0.2s;
}

.project-sub {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 160px;
  height: calc(100% - 360px);
  position: relative;
}

.project-name {
  margin: 5px 10px;
  font-size: 1.5rem;
  font-weight: 500;
  white-space: break-spaces;
}

.project-text {
  margin: 0 10px;
  font-size: 1rem;
  background: var(--silver);
}

.project-btns {
  margin: 10px 0;
  top: 0;
  right: 0;
  position: absolute;
}

.project-tags {
  margin: 5px;
}

.project-tag {
  display: inline-block;
  background-color: var(--navy-accent);
  border-radius: 3px;
  padding: 3px;
  margin: 0 1px;
  font-size: 0.7rem;
}

.projects-nav {
  display: flex;
  justify-content: center;
  font-size: 1.15rem;
}

.projects-page-num {
  margin: 10px;
  width: 100px;
  text-align: center;
}

.projects-nav button {
  border-radius: 5px;
  border: 2px solid var(--slate);
  background-color: var(--font-silver);
  color: var(--font-dark);
  font-family: inherit;
  font-size: 1.15rem;
  width: 100px;
  height: 2.5rem;
  align-self: center;
  transition-duration: 0.2s;
}
.projects-nav button:hover {
  background-color: var(--accent-gray);
}
.projects-nav button:disabled {
  opacity: 0%;
}

@media (max-width: 700px) {
  .search-bar {
    max-width: 250px;
    font-size: 1.05rem;
    line-height: 1.75rem;
  }
}

@media (max-width: 500px) {
  .project,
  .project-img {
    width: 350px;
  }
}
