@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@100..900&display=swap");

body {
  --beige: #e2d8cc;
  --beige-shadow: #9a958d;
  --sharp-orange: #ff6054;
  --navy-accent: #223552;
  --slate: #6a6e76;
  --font-dark: #2f2620;
  --font-silver: #dadada;
  --accent-gray: #aeadb0;

  font-family: "Outfit", Arial, sans-serif;
  background-color: var(--accent-gray);
  margin: 0;
  padding: 0;
}

#root {
  margin: 0 30px;
  padding: 0;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 10px 0;
}

#top-header,
nav,
main,
footer {
  max-width: 1200px;
  box-shadow: 12px 10px 20px -2px var(--slate), -12px 10px 20px 0px var(--slate);
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  line-height: 0;
}

button {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.contact-icon {
  padding-right: 10px;
  height: 2rem;
  transition-duration: 0.2s;
}
.contact-icon:hover {
  transform: scale(1.25);
}

.icon {
  padding-right: 10px;
  height: 1.5rem;
}
.icon:hover {
  transform: scale(1.25);
  transition-duration: 0.2s;
}

main {
  background-color: var(--beige);
  width: 100%;
  padding-bottom: 30px;
}

@media (max-width: 1000px) {
  #root {
    margin: 0 15px;
  }
}

@media (max-width: 800px) {
  body {
    margin: 0;
  }

  #root {
    margin: 0;
  }

  main {
    box-shadow: none;
    margin: 0;
    justify-content: center;
  }
}
